.Page {
  padding: 1rem 6rem;
}

.Page h1 {
  font-weight: bold;
}

.checkoutPage {
  display: flex;
  justify-content: center;
}

.formSection {
  width: 70%;
  padding: 20px;
  border-radius: 10px;
}

.formSection h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.formSection h2 {
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="password"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.formGroup input[type="text"]:focus,
.formGroup input[type="password"]:focus{
  border: 1px solid #00aaad;
  outline: none;
}

.formGroup input[type="checkbox"] {
  margin-right: 10px;
}

.buttonGroup {
  margin-top: 20px;
}

.submitButton {
  background-color: #00aaad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.submitButton:hover {
  background-color: #016264;
}

.cancelButton {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #00aaad;
  text-decoration: underline;
}

.cancelButton:hover {
  text-decoration: none;
}

.error {
  color: red;
  margin-top: 5px;
}

.formGroupRow {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formGroupRow .formGroup {
  flex: 1;
}

.formGroupRow .formGroup:nth-child(2) {
  flex: 1;
}

.price {
  text-align: right;
  font-weight: bold;
}

.formInput {
  background-color: #e0e0e0;
}

.formInput::placeholder {
  color: gray;
}
