.Page {
  padding: 1rem 6rem;
}

.Page h1 {
  font-weight: bold;
}

.checkoutPage {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.formSection {
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

.formSection h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.formSection h2 {
  margin-bottom: 20px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formGroup input[type="text"]:focus,
.formGroup input[type="email"]:focus,
.formGroup input[type="tel"]:focus{
  border: 1px solid #00aaad;
  outline: none;
}

.formGroup input[type="checkbox"]:checked {
  accent-color: #00aaad; /* Це змінює колір відмітки у чекбоксі */
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="tel"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.formGroup input[type="checkbox"] {
  margin-right: 10px;
}

.buttonGroup {
  margin-top: 20px;
}

.submitButton {
  background-color: #00aaad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.submitButton:hover {
  background-color: #016264;
}

.cancelButton {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #00aaad;
  text-decoration: underline;
}

.cancelButton:hover {
  text-decoration: none;
}

.cartSummary {
  width: 35%;
  padding: 20px;
  border-radius: 10px;
}

.cartSummary h2 {
  margin-bottom: 20px;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.cartItemImageContainer {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.cartItemImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.cartItemDetails {
  flex-grow: 1;
}

.cartItemDetails p {
  margin: 0;
  margin-bottom: 5px;
}

.totalPrice {
  font-weight: bold;
  margin-top: 20px;
}

.formGroupRow {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formGroupRow .formGroup {
  flex: 1;
}

.formGroupRow .formGroup:nth-child(2) {
  flex: 1;
}

.price {
  text-align: right;
  font-weight: bold;
}

.formInput {
  background-color: #e0e0e0;
}

.formInput::placeholder {
  color: gray;
}

.errorInput {
  background-color: #ffcccc;
  border-color: #ff0000;
}

.suggestionsList {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

.suggestionsList li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s ease-in-out;
}

.suggestionsList li:last-child {
  border-bottom: none;
}

.suggestionsList li:hover {
  background-color: #f0f0f0;
}

.suggestionsList li:active {
  background-color: #e0e0e0;
}

.info {
  font-size: 0.875rem;
}

.termsLink {
  color: #00aaad;
}

.termsLink:hover {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .checkoutPage {
    flex-direction: column;
  }

  .formSection,
  .cartSummary {
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
  }
}
