.sidebarButtonBar {
	/* position: fixed;
	bottom: 5px;
	min-width: 100%;
	z-index: 100; */

	position: sticky;
	min-width: 100%;
	z-index: 100;
	top: 93%;
}

.sidebarButtonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 5px;
}

.removeFiltersButton {
	color: #000;
	background-color: transparent;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 0 5px;
	cursor: pointer;
	display: flex;
}

.showResultsButton {
	color: #fff;
	background-color: #007bff;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 0 5px;
	cursor: pointer;
	display: flex;
}