.sidebarButtonBar {
	/* position: fixed;
	bottom: 5px;
	min-width: 100%;
	z-index: 100; */

	position: sticky;
	min-width: 100%;
	z-index: 100;
	top: 93%;
}

.sidebarButtonContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	gap: 10px;
}

.removeFiltersButton {
	color: #000;
	background-color: transparent;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px 5px;
	cursor: pointer;
	display: flex;
	flex: 1;
	justify-content: center;
}

.showResultsButton {
	color: #fff;
	background-color: #00aaad;
	border-radius: 5px;
	padding: 10px 5px;
	cursor: pointer;
	display: flex;
	/* flex: none; */
}

.showResultsButton:hover {
	background-color: #016264;
  }