/* Tab Bar Styles */
#tabBar {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

#tabBarContainer {
	display: flex;
	justify-content: center;
	margin: 0 0 20px 0;
}

#tabBarList {
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
}

.tabBarItem {
	margin: 0;
}

.tabBarLink {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 0.575rem 0.9375rem;
	position: relative;
	text-decoration: none;
}

.activeLink {
	color: #00aaad !important;
	border-bottom: 3px solid #00aaad;
}

.nonActiveLink {
	color: #737373 !important;
	border-bottom: 3px solid #737373;
}