.formcontainer {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  min-height: 50vh;
  align-content: center;
}

.caption {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
}

.formInput::placeholder {
  color: black;
  opacity: 1;
}

.showPassword {
  position: absolute;
  right: 0.75rem;
  bottom: 1rem;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.errormessage {
  color: red;
  margin-bottom: 15px;
}

.submitbutton {
  width: 100%;
  margin-top: 2vw;
  padding: 15px;
  background-color: #00aaad;
  color: white;
  box-sizing: border-box;
  border: 2px solid #00aaad;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submitbutton:hover {
  background-color: #008c8d;
}

.submitbutton2 {
  /* width: 100%;
     margin-top: 15px;
     margin-bottom: 50px;
     padding: 15px;
     background-color: rgb(218, 217, 217);
     box-sizing: border-box;
     border: 2px solid #bab8b8;
     border-radius: 6px;
     cursor: pointer; */
  background-color: #f3f3f3;
  padding: 15px;
  font-size: 1rem;
  color: #00aaad;
  text-transform: none;
  transition: 0.3s ease;
}

.submitbutton2:hover {
  color: #008c8d;
  text-decoration: underline;
}

.createaccountbutton {
  padding: 10px;
  background-color: white;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.form {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.formInput {
  padding: 15px;
  background-color: rgb(227, 223, 223);
  box-sizing: border-box;
  border: 2px solid #bab8b8;
  border-radius: 6px;
  margin-top: 1vw;
  width: 100%;
}

.formInput:focus {
  border: 1px solid #00aaad;
  outline: none;
}

@media screen and (max-width: 1000px) and (min-width: 500px) {
  .formInput {
    padding: 10px;
  }

  .showPassword {
    right: 0.75rem;
    bottom: 0.75rem;
  }

  .form {
    width: 60%;
  }

  .caption {
    font-size: 16px;
  }

  .submitbutton {
    margin-top: 40px;
    padding: 10px;
  }

  .submitbutton2 {
    padding: 10px;
  }
}

@media screen and (max-width: 500px) {
  .formInput {
    padding: 10px;
  }

  .form {
    width: 70%;
  }

  .caption {
    font-size: 16px;
  }

  .submitbutton {
    margin-top: 40px;
    padding: 10px;
  }

  .submitbutton2 {
    padding: 10px;
  }
}