 .formcontainer {
     display: flex;
     margin-top: 30px;
     justify-content: center;
 }

 .caption {
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
     font-weight: bold;
     font-size: 26px;
     text-align: center;
 }

 .formInput::placeholder {
     color: black;
     opacity: 1;
 }

 .errormessage {
     color: red;
     margin-bottom: 15px;
 }

 .submitbutton {
     width: 100%;
     margin-top: 2vw;
     padding: 15px;
     background-color: grey;
     color: white;
     box-sizing: border-box;
     border: 2px solid #bab8b8;
     border-radius: 6px;
     cursor: pointer;
 }

 .submitbutton2 {
     width: 100%;
     margin-top: 15px;
     margin-bottom: 50px;
     padding: 15px;
     background-color: rgb(218, 217, 217);
     box-sizing: border-box;
     border: 2px solid #bab8b8;
     border-radius: 6px;
     cursor: pointer;
 }

 .submitbutton:hover {
     background-color: blue;
 }

 .submitbutton2:hover {
     background-color: blue;
     color: white;
 }

 .createaccountbutton {
     padding: 10px;
     background-color: white;
     color: #007BFF;
     border: 2px solid #007BFF;
     border-radius: 4px;
     cursor: pointer;
     width: 100%;
 }

 .form {
     display: flex;
     width: 30%;
     flex-direction: column;
     justify-content: center;
 }

 .formInput {
     padding: 15px;
     background-color: rgb(227, 223, 223);
     box-sizing: border-box;
     border: 2px solid #bab8b8;
     border-radius: 6px;
     margin-top: 1.0vw;
 }