.headcontainer {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
}

.headcontainer p {
    margin: 0;
    /* justify-content: center;
    display: flex; */
}

.headcontainer p:has(img) {
    margin: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.headcontainer ol,
.headcontainer ul,
.headcontainer menu {
    list-style: unset;
}

.bigimage {
    margin-bottom: 40px;
}

.captiontext {
    margin-top: 50px;
}

.contenttext {
    font-size: clamp(14px, 1.3vmax, 20px);
    text-align: justify;
}

.imagerow {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    justify-content: space-between;
    gap: 20px;
}

.imagerow img {
    width: 50%;
    height: auto;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    /* Дозволяє перенос на наступний рядок, якщо місця недостатньо */
    justify-content: center;
    /* Центрує елементи по горизонталі */
    align-items: center;
    /* Центрує елементи по вертикалі */
    gap: 16px;
    /* Відступ між елементами */
    margin-top: 16px;
    /* Відступ зверху */
}

.imageWrapper {
    /* position: relative;
    flex: 1 1 calc(50% - 16px);
    max-width: 500px;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.blogItemsСontainer {
    margin-bottom: 50px;
}

.image {
    object-fit: cover;
    /* Заповнює контейнер без спотворення */
    transition: transform 0.3s ease;
}

.image:hover {
    transform: scale(1.05);
    /* Ефект збільшення при наведенні */
}




@media screen and (max-width: 1000px) and (min-width: 500px) {

    .headcontainer {
        margin: 25px 20px 0 20px;
    }

    .bigimage {
        margin-bottom: 25px;
    }

    .h1 {
        font-size: 20px;
        text-align: center;
    }

    .h2 {
        font-size: 18px;
    }

    .contenttext {
        font-size: 14px;
    }

    .imagerow {
        margin: 10px 5px 30px 0;
        gap: 5px;
    }

}

@media screen and (max-width: 500px) {

    .headcontainer {
        margin: 20px 15px 0 15px;
    }


    .bigimage {
        margin-bottom: 20px;
    }

    .h1 {
        font-size: 18px;
        text-align: center;
    }

    .contenttext {
        font-size: 12px;
    }

    .h2 {
        font-size: 16px;
    }

    .captiontext {
        margin-top: 20px;
    }

    .imagerow {
        margin: 10px 5px 30px 0;
        gap: 5px;
    }

}