.textblock {
	text-align: center;
}

.headerText {
	font-size: 24px;
	font-weight: bold;
	color: #454545;
	text-transform: uppercase;
}

.paragraph,
.boldspan,
.span,
.boldparagraph {
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
}

.boldspan,
.boldparagraph {
	font-weight: bold;
}