.cartPage {
  padding: 1rem 6rem;
  min-width: 80vw;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.cartItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.cartItemImage {
  border-radius: 8px;
  margin-right: 50px;
  margin-left: 50px;
}

.removeButton {
  color: #000000;
  padding: 1px 10px;
  border-radius: 50%;
  border-color: #000000;
  border-style: solid;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 20px;
}

.calculateTotalPrice {
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

.checkoutButton {
  background-color: #00AAAD;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.continueButton {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border: 1px solid #00000080;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.productDescription {
  margin-right: 50px;
  width: 20rem;
}

.product {
  font-size: 0.8rem;
}

.productDescription p {
  margin: 0;
}

.price {
  margin-left: 50px;
  font-weight: bold;
}

.quantityContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  height: 70px;
}

.quantityButton {
  width: 40px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.quantityInput {
  width: 40px;
  height: 30px;
  text-align: center;
  border: none;
  margin: 0 5px;
}

.cartInfo p {
  margin: 0;
}

@media (max-width: 1366px) {
  .cartPage {
    padding: 1rem 1rem;
  }

  .cartItemImage {
    margin-right: 30px;
    margin-left: 30px;
    width: 80px;
    height: auto;
  }

  .productDescription {
    margin-right: 30px;
  }

  .price {
    margin-left: 30px;
  }

  .quantityContainer {
    width: 90px;
    height: 60px;
  }

  .quantityButton {
    width: 35px;
    height: 25px;
  }

  .quantityInput {
    width: 35px;
    height: 25px;
  }
}


@media (max-width: 768px) {
  .cartItem {
    flex-direction: column;
    align-items: center;
  }

  .cartItemImage {
    margin-right: 10px;
    margin-left: 10px;
  }

  .productDescription {
    text-align: center;
    width: 100%;
  }

  .quantityContainer {
    width: 50%;
    height: 50px;
  }

  .quantityInput {
    width: 90%;
  }

  .quantityButton {
    width: 90%;
  }

  .price {
    margin-left: 0px;
  }
}

@media (max-width: 320px) {
  .cartItem {
    padding: 5px;
  }

  .productDescription {
    margin-right: 0px;
  }

  .cartItemImage {
    width: 50px;
    height: auto;
  }

  .price {
    margin-left: 10px;
    margin-top: 10px;
  }
}