/* Pagination.module.css */
.paginationContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin-top: 20px;
}

.paginationButton {
	/* border: 1px solid #ccc;
	background-color: #f9f9f9;
	padding: 5px 10px;
	cursor: pointer;
	border-bottom: 3px solid gray;
	font-size: 16px;
	font-weight: 700; */
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	padding: 5px 10px;
	cursor: pointer;
	/* border-bottom: 3px solid gray; */
	font-size: 27px;
	/* font-family: "Open Sans", sans-serif; */
	border-radius: 5px;
	font-weight: 400;
}

.paginationArrow {
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 30px;
	font-weight: 700;
	/* 
	background-color: #f9f9f9;
	border-bottom: 3px solid gray;
	font-family: "Open Sans", sans-serif;
	*/
}

.paginationButton:hover {
	background-color: #f9f9f9;
	color: #00AAAD;
}

.paginationButton:disabled,
.paginationArrow:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.activePage {
	font-weight: bold;
	/* color: blue; */
	/* border-bottom: 3px solid #ccc; */
	color: #f9f9f9;
	background-color: #00AAAD;
}

.paginationDots {
	padding: 5px;
}