.ShopStatusInnerWrapper {
	display: none;
}

.ShopStatusInnerCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.ShopStatusInnerDetails {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
}

.customlink {
	color: darkblue;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.customlink:hover {
	color: #ff4500;
	/* Замените на нужный цвет при наведении */
	text-decoration: underline;
}

.worktimelist {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.worktimeitem {
	display: flex;
	/* justify-content: space-between; */
}

.worktimeday {
	width: 150px;
	font-size: 14px;
}

.customlink2 {
	color: darkblue;
	text-decoration: none;
	margin: 20px 0 5px 0;
}

@media screen and (max-width: 400px) {
	.ShopStatusInnerWrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}