.ShopStatusOuterWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ShopStatusOuterCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* .ShopStatusOuterDetails {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
} */
.ShopStatusOuterDetails {
  overflow: hidden;
  width: 100%;
  padding: 10px;
  /* transition: all 0.3s ease-out; */
}

/* .ShopStatusOuterDetails.open {
  padding: 10px;
  margin-top: 10px;
  max-height: 500px;
} */

.customlink {
  color: #00aaad;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.customlink:hover {
  color: #016264;
  text-decoration: underline;
}

.worktimelist {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.worktimeitem {
  display: flex;
  /* justify-content: space-between; */
}

.worktimeday {
  width: 150px;
  font-size: 14px;
}

.customlink2 {
  color: #00aaad;
  text-decoration: none;
  margin: 20px 0 5px 0;
}

@media screen and (max-width: 400px) {
  .ShopStatusOuterWrapper {
    display: none;
  }
}