.container {
  text-align: center;
  padding: 20px;
  margin-top: 1.5vw;
}



.description {
  margin-bottom: 2.0vw;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
  margin: 0 5vw 0 5vw;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #00AAAD;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #34e17f;
}