@tailwind base;
@tailwind components;
@tailwind utilities;

label.form-label {
    /* margin-top: 1.5rem;  */
    margin-bottom: 0.25rem;
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.instructions {
    font-size: 0.75rem;
    color: #fff;
    padding: 0.25rem;
}

.instructions>svg {
    margin-right: 0.25rem;

}

.body * {
    font-family: var(--font-raleway), sans-serif;
    /* user-select: none; */
}