.relatedArticles {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.articleCard {
  flex: 0;
  width: 250px;
}

.articleImage {
  position: relative;
  width: 250px; 
  height: 181px;
  margin-bottom: 10px;
}

.articleTitle {
  font-size: 24px;
}

.articleLink {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #000000;
	text-decoration: none;
}

.articleLink:hover {
	color: #000000;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

@media (max-width: 767px) {
  .articleImage {
    flex-shrink: 0;
    width: 138px;
    height: 86px;
  }

  .articleTitle {
    font-size: .875rem;
    margin-left: 20px;
    width: 150px;
  }

  .articleLink {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}