.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 30px;
}

.overallRating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
}

.rating {
  display: flex;
  align-items: center;
  padding: 10px;
}

.ratingText {
  margin-left: 20px;
}

.leaveReviewButton {
  width: 15rem;
  padding: 10px 20px;
  background-color: #00AAAD;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reviewHr {
  width: 100%;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviewItem {
  padding: 20px;
}

.reviewerName {
  font-weight: bold;
  width: 300px;
  display: inline-block;
}

.reviewContent {
  display: flex;
  align-items: center;
}

.reviewRatingContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 200px;
}

.reviewRating {
  margin-left: 10px;
}

@media screen and (max-width: 1920px) {
  .overallRating {
    padding: 10px;
  }

  .ratingText {
    margin-left: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .ratingText {
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .mainText {
    order: -1;
  }

  .overallRating {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .reviewsContainer {
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .ratingText {
    margin-left: 10px;
  }

  .reviewItem {
    padding: 10px;
  }

  .reviewerName {
    width: 100%;
  }

  .reviewRatingContainer {
    width: 100%;
  }
}