.similarProductsContainer {
    position: relative;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
}

.carouselContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    transition: transform 0.3s ease;
}

.similarProductCard {
    position: relative;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.favoriteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.similarProductImage {
    aspect-ratio: 3 / 4;
    background-color: rgb(245, 245, 245);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.wareImage {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    display: flex;
    flex: 0.4 1;
    width: fit-content;
}

.wareStickersContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: transparent;
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.discountSticker,
.newSticker,
.lowPriceSticker,
.saleSticker {
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    width: fit-content;
    padding: 0 5px;
}

.discountSticker {
    background-color: #c02931;
}

.newSticker {
    background-color: #239343;
}

.lowPriceSticker {
    background-color: #000000;
}

.saleSticker {
    background-color: #143c8a;
}

.similarProductInfo {
    padding: 10px 0;
}

.similarProductName {
    margin: 0;
}

.similarProductDescription {
    font-size: 0.875rem;
    margin: 0;
    color: #555;
    line-height: 20px;
}

.rating {
    margin: 5px 0;
}

.similarProductPrices {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.similarProductCurrentPrice {
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
}

.similarProductOldPrice {
    text-decoration: line-through;
    color: #999;
}

.similarProductAvailability {
    display: flex;
    align-items: center;
    line-height: 18px;
    margin-bottom: 5px;
}

.availability {
    display: table;
}

.delivery {
    font-size: 0.7rem;
    line-height: 18px;
}

.storeAvailability {
    font-size: 0.7rem;
    line-height: 18px;
}

.carouselControl {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prevButton {
    left: 10px;
}

.nextButton {
    right: 10px;
}

.carouselIcon {
    display: block;
}

@media screen and (max-width: 768px) {
    .carouselContainer {
        grid-template-columns: 1fr;
    }

    .discountSticker,
    .newSticker {
        font-size: .625rem !important;
    }

    .lowPriceSticker,
    .saleSticker {
        font-size: .625rem !important;
        width: min-content;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .carouselContainer {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 1024px) and (max-width: 1360px) {
    .carouselContainer {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}