.footer{
    background-color: gray;
    /* margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px; */
}

.footer-container{
    display: flex;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.footer-messenger{
    display: flex;
    /* background-color: gray; */
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer-messenger img{
    max-width: 30px;
    padding: 15px;
}

.footer-item{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-right: 150px;
}

.footer-itemA{
    text-decoration: none;
    color: rgb(219, 217, 217);
}

.footer-address{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}