 /* .Toastify__toast-container {
 	position: fixed;
 	bottom: 20px;

 	right: 20px;

 	z-index: 9999;

 }

 .Toastify__toast {
 	background-color: green;
 	color: white;
 	border-radius: 10px;
 	padding: 10px 20px;
 	display: flex;
 	align-items: center;
 } */

 /* .toast .icon {
	margin-right: 10px;
} */

 /* Додайте стилі для іконки, якщо потрібно */