.image-left {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 50%;
    /* або задайте потрібну ширину */
}

.image-right {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    max-width: 50%;
    /* або задайте потрібну ширину */
}