.MuiDataGrid-cell.text-right {
	text-align: right !important;
}

@media print {
	.MuiDataGrid-root {
		height: auto !important;
		/* Задає автоматичну висоту */
		overflow: visible !important;
		/* Відключає переповнення */
	}
}