.main {
  padding: 1rem 6rem;
  min-width: 80vw;
}
#tabBarList {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.tabBarItem {
  margin: 0;
}

.tabBarLink {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  padding: 0.575rem 0.9375rem;

  position: relative;
  text-decoration: none;
}
.activeLink {
  color: #143c8a !important;
  border-bottom: 3px solid #143c8a;
}
.nonActiveLink {
  color: #737373 !important;
  border-bottom: 3px solid#737373;
}

#tabBar {
  /* color: #737373; */
  display: inline-block;
  position: relative;
  white-space: nowrap;
  font-family: "Open Sans", sans-serif;
}

#tabBarContainer {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}

#resultsFound {
  font-size: 48px;
}
#filterToggleBar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#filterBar {
  display: flex;
  gap: 10px;
}
#toggleBar {
	display: flex;
	justify-content: end;
}
.filterButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  padding: 0.625rem 1.125rem 0.625rem 1.25rem;
  justify-content: space-evenly;
}

.toggleContainer {
  display: flex;
  align-items: center;
  /* margin-right: 20px; */
  margin-left: auto;
}

.toggleLabel {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
}

.toggleCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggleCheckbox:checked + .toggleSlider {
  background-color: #2196f3;
}

.toggleCheckbox:checked + .toggleSlider:before {
  transform: translateX(20px);
}

.toggleText {
  font-size: 16px;
}

@media screen and (max-width: 1000px) and (min-width: 320px) {
  .dissappearOnAdapt {
    display: none;
  }

  #filterToggleBar {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between;
	margin-bottom: 20px; */
  }
  #filterBar {
    display: flex;
	flex-direction: row-reverse;
    gap: 10px;
  }
  #toggleBar {
    width: 100%;
    display: flex;
    align-items: end;
    margin-left: 0;
  }
  .filterButton {
	justify-content: center;
	flex:1;
  }
}
