.footer {
    background-color: #00AAAD;
}

.footer-container {
    /* display: flex;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    flex-grow: 1;
    justify-content: space-evenly; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: stretch;
}

.flexItem {
    flex-direction: column;
    display: flex;
    /* flex: 1;
    flex-basis: 25vw; */
    padding: 0 25px;
}

.footer-messenger {
    display: flex;
    margin-left: 3.5vw;
}

.footer-messenger img {
    max-width: 30px;
    padding: 15px;
}

.footer-item {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    display: flex;

}

.footer-itemA {
    text-decoration: none;
    color: rgb(219, 217, 217);
}

.footer-address {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    font-weight: bold;
}